body{
    background-color: black;
    margin: 0px;
    padding: 0px;
    }
h1{
    color: khaki;
}
li{
    color: khaki;
}
table td,
table th{
    border: 1px solid khaki;
    color: lightgoldenrodyellow;
}
a.text{
    text-decoration: none;
    color: olivedrab;
    background-color: khaki;
    padding: 5px;
    border-radius: 8px;
}
header{
    height: 65px;
    background-color:olivedrab;
    align-items:center;
}
.container{
    width: 1024px;
    margin: auto;
}
.logo{
    width: 40px;
    height: 40px;
}
a{
    color: khaki;
    text-decoration: none;
    padding: 0 10px;
}
a:hover{
    text-decoration: underline;
}
.d-flex{
    display: flex;
}
div.container{
    align-items: center;
}
nav{
    width: calc(100% - 40px);
    justify-content: space-between;
}
footer{
    background-color: olivedrab;
    padding: 15px 0px;
}
p{
    color: khaki;
    margin-bottom: 0;
}
.slider-frame{
    overflow: hidden;
    height: 500px;
    width: 700px;
}
@-webkit-keyframes slide_animation{
    0% {left: 0px;}
    10% {left: 0px;}
    20% {left: 1200px;}
    30% {left: 1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left: 0px;}
}
.slide-images{
width: 3600px;
height: 800px;
margin: 0 0 0 -2400px;
position: relative;
-webkit-animation-name: slide_animation;
-webkit-animation-duration: 30s;
-webkit-animation-iteration-count: infinite;
-webkit-animation-direction: alternate;
-webkit-animation-play-state: running;
}
.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}