.a-f-c{
width: 300px;
min-height: 200px;
border: 1px solid black;
margin: auto;
margin-top: 200px;
padding: 15px;
background-color: khaki;
}
.a-f-c ZR {
    display: block;
    margin-bottom: 4px;
}

body,html{
    background-color: olivedrab;
}
.a-f-c .text {
    height: 30px;
    width: 80%;
}
 